body {
  text-align: center;
  background-color: rgb(200, 207, 213);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  position: relative;
  /* margin-top: 2vh; */
  height: 75vh;
  width: 750px;
  max-width: 90%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 30% 60% 10%;
  grid-column-gap: 10px;
}

/* .toast {
  grid-row: 2/2;
  grid-column: 3/3;
  z-index: 10;
} */

.exit-btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-row: 1/1;
  grid-column: 3/3;
  margin-bottom: 10px;
}

.header_bar {
  /* margin: 0; */
  grid-column-start: 1;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  grid-column-end: 4;
  grid-row: 1/2;
  border-bottom: 3px solid rgb(58, 108, 144);
}

.room-list {
  border: 2px solid rgb(11, 61, 97);
  grid-column: 1/1;
  grid-row-start: 2;
  grid-row-end: 4;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  flex-direction: column;
}

.room-list .room-list-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.room-list .room-field {
  margin-bottom: 0.15rem;
}

.chat-box {
  border: 2px solid rgb(11, 61, 97);
  grid-column: 2/2;
  grid-row: 2/4;
  border-radius: 10px;
  overflow: auto;
}

.chat-box .message {
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgb(30, 110, 140); */
  margin: 5px 3px;
  height: auto;
  width: auto;
  overflow-wrap: break-word;
  border-radius: 10px;
  background-color: #a7bbc9;
}

.chat-box .message p {
  text-align: left;
  margin: 0.25rem 0.5rem 0;
  padding: 0;
  width: auto;
  font-size: 0.9rem;
  /* font-weight: bold; */
  color: rgb(30, 110, 140);
  border-radius: 0px 0px 6px 0px;
}

.chat-box .ownMsg {
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgb(30, 110, 140); */
  margin: 5px 3px;
  height: auto;
  width: auto;
  overflow-wrap: break-word;
  border-radius: 10px;
  background-color: #8ec4ea;
}

.chat-box .ownMsg p {
  font-weight: bold;
  text-align: right;
  margin: 0.25rem 0.5rem 0;
  padding: 0;
  width: auto;
  font-size: 0.9rem;
  /* font-weight: bold; */
  color: rgb(30, 110, 140);
  border-radius: 0px 0px 6px 0px;
}

.chat-box strong {
  text-align: end;
}

.small {
  font-size: 0.6rem;
}

.ownMsg span {
  font-weight: normal;
}

/* .ownMsg .msg-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.message .msg-text {
  display: flex;
  flex-direction: row;
} */

.user-list {
  border: 2px solid rgb(11, 61, 97);
  grid-column: 3/3;
  grid-row-start: 2;
  grid-row-end: 4;
  border-radius: 0px 10px 10px 0px;
  overflow-y: auto;
}

.user-list p {
  text-align: left;
  margin: 0.25rem 1rem 0;
  padding: 0;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(13, 160, 98);
  border: 1px solid rgb(13, 160, 98);
  border-radius: 8px;
}

.msg-field {
  margin-top: 5px;
  grid-column: 2/2;
  grid-row: 4/4;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* ------------------------------------- */
/* CUSTOM SCROLL BARS */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #bbcbd9;
  border-radius: 50%;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8ba4b6;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6c93ae;
}
/* ------------------------------------- */
